<!doctype html>
<html lang="en">
{% load static %}
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!--   favicon -->

  <link rel="icon" type="{% static 'image/png' %}" href="favicon.ico"  />
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" >
  <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous"> -->
  <!-- theme-css -->
  <link rel="stylesheet" href="{% static 'css/main.css' %}" >

  <title>Signal</title>
</head>
<body>

  <div class="call-wrap">
  <div class="container">
  <div class="row">

    <div class="col-md-6 offset-md-3">          
      
      <div class="contact-head">
        <a href="/"><img src="{% static 'img/logo.png' %}" width="200px"></a>
        <div class="float-right">
          <img src="{% static 'img/user1.png' %}" width="40px" class="rounded-circle">
        </div>
      </div> 

      <div class="call-info" align="center">
        <img src="{% static 'img/user1.png' %}" class="col-sm-4 rounded-circle" >
        <h4>{{remote_user}}</h4>
        <!-- <h3>+91 98456XXXX</h3>
        <img src="{% static 'img/call-end.png' %}" width="75px" class="mb3em">
        <h3>Duration: 00:00</h3> -->


        <div id="vid-box">
          
        </div>

        <button id="callStartBtnID" onclick="makeCall('{{remote_user.username}}')" style="display: none;">Start</button>

        <button id="callStartBtnID" onclick="restart()" style="display: none;">Stop</button>
      </div>

   </div>

  </div>
  </div>  
  </div>

 <footer>
  <div class="container-fluid">
    <div class="float-left">
      <ul>
        <li><a href="#">About</a></li>
        <li><a href="#">Terms</a></li>
        <li><a href="#">Privacy policy</a></li>
        <li><a href="#">Settings</a></li>
      </ul>
    </div>
    <div class="float-right">
      <p>2018 INDIAN HILL</p>
    </div>
  </div>
</footer>


<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{% static 'js/jquery-3.2.1.slim.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}" ></script>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> -->
<!-- <script src="https://cdn.pubnub.com/pubnub-3.7.14.min.js"></script> -->
<script src="{% static 'js/pubnub.min.js' %}"></script>
<!-- <script src="https://cdn.pubnub.com/webrtc/webrtc.js"></script> -->
<script src="{% static 'js/webrtc.js' %}"></script>
  
  <script type="text/javascript">
    var video_out = document.getElementById("vid-box");

    function login(user) {
      console.log("Login User : ", user);
      var phone = window.phone = PHONE({
          //number        : form.username.value || "Anonymous", // listen on username line else Anonymous
          number        : user,
          publish_key   : 'pub-c-0fea163b-1ffa-4907-bdc9-c596cad81f7c',
          subscribe_key : 'sub-c-058fa76e-5fd9-11e8-babb-4a968f534eba',
      }); 
      // phone.ready(function(){ form.username.style.background="#55ff5b"; });
      $("#callStartBtnID").show();
      phone.receive(function(session){
          session.connected(function(session) {
            console.log("connected");
            video_out.appendChild(session.video); 
          });
          session.ended(function(session) { 
            console.log("ended");
            video_out.innerHTML=''; 
          });
      });
      return false;   // So the form does not submit.
    }
    
    function makeCall(remote_user){
      // if (!window.phone) alert("Login First!");
      // else phone.dial(form.number.value);
      // phone.dial(form.number.value);
      console.log("remote user : ", remote_user);
      phone.dial(remote_user);
      
      return false;
    }


    function restart(){
      location.reload();
    }
    window.onload = login("{{request.user.username}}");
  </script> 
</body>
</html>