<!doctype html>
<html lang="en">
{% load custom_tags %}
{% load static %}
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!--   favicon -->

  <link rel="icon" type="{% static 'image/png' %}" href="favicon.ico"  />
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" >
  <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
  <!-- theme-css -->
  <link rel="stylesheet" href="{% static 'css/main.css' %}" >

  <title>Signal</title>

<style>

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: rgb(89, 89, 89, 0.8);;
    margin: auto;
    /*top: 10%;*/
    padding: 20px;
    border: 1px solid #888;
    width: 45%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.call-text{
  margin: auto;
  color: white;
  text-shadow:1px 1px 0 #444;
}
</style>

</head>


<body>
<!-- Call Modal -->
<div id="popUpModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <div class="row" style="height: 100px;">
      <span class="call-text" style="font-size: 22px;" id="warningBoxTxt"> Need web cam for video call </span>
    </div>
    <div class="row">
      
     <!--  <div class="col-md-3">
        <button id="callDecline" class="btn btn-danger" style="float: right;">decline</button>
      </div>
      
      <div class="col-md-6">
      </div>
      
      <div class="col-md-3">
        <button id="callAccept" class="btn btn-success" style="float: left;"></button>
      </div> -->
    </div>
  </div>
</div>
<!-- end modal -->

<div class="call-wrap">
<div class="container">
<div class="row">

  <div class="col-md-6 offset-md-3 p0">
    
    <div class="contact-head">
      <a href="/"><img src="{% static 'img/logo.png' %}" width="200px"></a>
      <div class="float-right">
        {% if request.user.is_authenticated %}
        <a href="{% url 'logout' %}"> Logout</a><br>
        {{ request.user.email }}

        {% endif %}
        <img src="{% static 'img/user1.png' %}" width="40px" class="rounded-circle">
      </div>
    </div> 
    
    <div id="usersList">
      {% for user in users %}
        <div class="row contact-box">
          <div class="col-sm-3">
            <img src="{% static 'img/user1.png' %}" width="100%" class="rounded-circle">
          </div>   
          <div class="col-md-9 wrap-ww">
            <h4>{{ user }}</h4>
            <h3>{{ user.email }}</h3>
            <a href="{% url 'chat-page' user.id%}"><img src="{% static 'img/call.png' %}" class="call-img"></a>
            <!-- <img onclick="makeCall('{{user.username}}')" src="{% static 'img/call.png' %}" class="call-img" style="cursor: pointer;"> -->
          </div>
        </div>
      {% empty %}
      <div class="row contact-box">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-6">
          <span>no users online</span>
        </div>
        <div class="col-sm-3">
        </div>
      </div>
      {% endfor %}
    </div>

    <div id="callConnect" style="display: none;">
      <div class="call-info" align="center">
        <img src="{% static 'img/user1.png' %}" class="col-sm-4 rounded-circle" >
        <h3>{{remote_user}}</h3>
        <!-- <h3>+91 98456XXXX</h3> -->
        <!-- <img src="{% static 'img/call-end.png' %}" width="75px" class="mb3em"> -->
        <!-- <h3>Duration: 00:00</h3> -->

        <!-- <audio id="vid-box" controls autoplay></audio>-->
        <div id="vid-box" style="width: 400px;height: 400px; border: 1px black solid;">          
        </div>
        <div id="vid-tools" style="width: 400px;height: 40px; border: 1px black solid;"> 
          <button id="playBtn" onclick="play()" style="display: none;">
            <i class="fa fa-play" style="font-size:24px;color:red"></i>
          </button>
          <button id="pauseBtn"  onclick="pause()">
            <i class="fa fa-pause" style="font-size:24px;color:red"></i>
          </button>         
          <button id="stopBtn" onclick="stop()">
            <i class="fa fa-stop-circle-o" style="font-size:24px;color:red"></i>
          </button>
        </div>
      </div>      
    </div>
     
      <!-- <div class="col-sm-3">
      </div> -->
      <div class="col-sm-12">
        <a href="{%url 'invite_user' %}">
          <button type="button" class="btn btn-info btn-block">Invite User</button> 
        </a>
      </div>
     <!--  <div class="col-sm-3">
      </div> -->
    

  </div>
</div>
</div>  
</div>

<footer class="p-relative">
  <div class="row">
    <div class="container-fluid">
      <div class="float-left">
        <ul>
          <li><a href="#">About</a></li>
          <li><a href="#">Terms</a></li>
          <li><a href="#">Privacy policy</a></li>
          <li><a href="#">Settings</a></li>
        </ul>
      </div>
      <div class="float-right">
      <p>2018 Signal</p>
      </div>
    </div>
  </div>
</footer>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- <script src="{% static 'js/jquery-3.2.1.slim.min.js' %}"></script> -->
<!-- <script src="{% static 'js/popper.min.js' %}"></script> -->
<script src="{% static 'js/bootstrap.min.js' %}" ></script>

<!-- <script src="https://cdn.pubnub.com/pubnub-3.7.14.min.js"></script> -->
<!-- <script src="{% static 'js/pubnub.min.js' %}"></script> -->
<!-- <script src="https://cdn.pubnub.com/webrtc/webrtc.js"></script> -->
<!-- <script src="{% static 'js/webrtc.js' %}"></script> -->
  
<script type="text/javascript">
  // var video_out = document.getElementById("vid-box");
  // var dailed_status = false;


  // navigator.getMedia = ( navigator.getUserMedia ||
  //             navigator.webkitGetUserMedia ||
  //             navigator.mozGetUserMedia ||
  //             navigator.msGetUserMedia);
  // navigator.getMedia({video: true}, function() {
  //   console.log("Web cam available");
  // }, function() {
  //   $("#popUpModal").show();
  //   $("#popUpModal").fadeOut(5000);
  // });

  // function login(user) {
  //   console.log("Login User : ", user);
  //   var phone = window.phone = PHONE({
  //       number        : user,
  //       publish_key   : 'pub-c-514ae0ed-d200-4765-8bcd-d8061ef219e9',
  //       subscribe_key : 'sub-c-0eb896b8-6a4a-11e8-a49b-66b3abd5adf6',
  //       media : { audio : true, video : true },
  //   });

  //   phone.receive(function(session){
  //     var r = confirm("Start video call ?");
  //     if (r == true) {
  //       $("#usersList").hide();
  //       $("#callConnect").show();
  //       session.connected(function(session) {
  //         console.log("connected");
  //         video_out.appendChild(session.video);
  //         // $("#vid-tools").show();
  //       });
  //     }else{
  //       // $("#usersList").show();
  //       // $("#callConnect").hide();
  //       phone.hangup();
  //       console.log("Cancelled video call!")
  //     }
  //     session.ended(function(session) { 
  //       console.log("ended");
  //       phone.hangup();
  //       $("#usersList").show();
  //       $("#callConnect").hide();
  //       video_out.innerHTML=''; 
  //     });                
  //   });
  //   return false;  // So the form does not submit.
  // }

  // function makeCall(remote_user){
  //   dailed_status = true;
  //   console.log("make call : ", remote_user);
  //   // $("#usersList").hide();
  //   // $("#callConnect").show();
  //   // console.log("PHONE : ", phone.number);
  //   phone.dial(remote_user);    
  //   return false;
  // }
  // function pause(){
  //   console.log("Play");
  //   $("#pauseBtn").hide();
  //   $("#playBtn").show();    
  //   $("video").get(0).pause();
  // }
  // function play(){
  //   console.log("Pause");
  //   $("#playBtn").hide();
  //   $("#pauseBtn").show();
  //   $("video").get(0).play();    
  // }
  // function stop(){
  //   phone.hangup();  
  //   $("#usersList").show();
  //   $("#callConnect").hide();
  //   video_out.innerHTML=''; 
  // }
  // window.onload = login("{{request.user.username}}");
</script>


<!-- Call-Modal JS -->
<script>
// Get the modal


// Get the button that opens the modal
// var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
// var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
// btn.onclick = function() {
//     modal.style.display = "block";
// }

// When the user clicks on <span> (x), close the modal
// span.onclick = function() {
//     modal.style.display = "none";
// }

// When the user clicks anywhere outside of the modal, close it
// var modal = document.getElementById('popUpModal');
// window.onclick = function(event) {
//     if (event.target == modal) {
//         modal.style.display = "none";
//     }
// }
</script>

</body>
</html>