<!doctype html>
<html lang="en">
{% load static %}
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!--   favicon -->

  <link rel="icon" type="{% static 'image/png' %}" href="favicon.ico"  />
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" >
  <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous"> -->
  <!-- theme-css -->
  <link rel="stylesheet" href="{% static 'css/main.css' %}" >

  <title>Signal</title>
</head>
<body>
  <div class="index-wrap">
    <div class="container-fluid">
     <div class="col-sm-2 col-6">
       <div class="logo">
         <img src="{% static 'img/logo.png' %}" width="100%">
       </div>
     </div>
   </div>
   <div class="clearfix"></div>
   <div class="index-middle">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
         <h2> Connect.Communicate</h2>
         <div align="center">
           <img src="{% static 'img/people.png' %}" width="80%">
         </div>
       </div>
       <div class="col-md-5">
        <div class="index-form-wrap">
         <h2>Get started.</h2>
         
          <form method="post" action="" >            
            {% csrf_token %}
            {{ form.as_p }}

            <div align="right">
              <button class="btn btn-go">
                <img src="{% static 'img/arrow.png' %}" width="40px" height="50px" >
              </button>
            </div>
            {{ form.error }}
          </form>
          <p><strong>-- OR --</strong></p>
          <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a><br>

      </div> 
   </div>
 </div>
</div>

</div>
</div>

<footer>
  <div class="container-fluid">
    <div class="float-left">
      <ul>
        <li><a href="#">About</a></li>
        <li><a href="#">Terms</a></li>
        <li><a href="#">Privacy policy</a></li>
        <li><a href="#">Settings</a></li>
      </ul>
    </div>
    <div class="float-right">
    <p>2018 INDIAN HILL</p>
    </div>
  </div>
</footer>


<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{% static 'js/jquery-3.2.1.slim.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}" ></script>
</body>
</html>