<!DOCTYPE html>
{% load static %}
<head>
    <title>WebRTC Audio Demo</title>
    <style>
    video {
        width: 320px;
        height: 240px;
    }

    body {
        text-align: center;
    }

    #mute {
        width: auto;
        background: lightgreen;
    }
    </style>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
</head>

<body>
    
    <img src="{% static 'img/user1.png' %}" width="5%" class="rounded-circle"><br>{{request.user}}<br>
    <h1 class="text-center ">WebRTC Audio Demo</h1>
    <div id="selectRoom" class="col-12 text-center">
        <button id="goBoth">Video and Audio</button>
        <button id="goVideoOnly">Video only</button>
        <button id="goAudioOnly">Audio only</button>
    </div>
    <div class="container">
        <div class="row">
            <div id="div_events" class="col-12 col-md-4 border border-primary">
            </div>
            <div class="col-12 col-md-8 text-center">
                <div id="conferenceRoom" style="display:none;" class="col-12">
                    <video id="localVideo" autoplay class="border border-warning"></video>
                    <video id="remoteVideo" autoplay class="border border-info"></video>
                    <br/>
                    <input type="checkbox" onclick="mute()">mute video</input>
                    <span id="mute" style="display:none">Toggle Audio</span>
                    <h2>Remote audio events</h2>
                    <div id="audioEvents"></div>
                    <button onclick="tvideo()">Toggle Video</button>
                    <button onclick="taudio()">Toggle Audio</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="div_events" class="col-12 col-md-4 border border-primary">
            </div>
            <div id="div_events" class="col-12 col-md-8">
                 <!-- What chat room would you like to enter?<br/>
                <input id="room-name-input" type="text" size="100" class="form-control"/><br/>
                <input id="room-name-submit" type="button" value="Enter" class="form-control"/> -->
                <div id="chatBox">
                    <textarea id="chat-log" cols="100" rows="20" class="form-control"></textarea><br/>
                    <input id="chat-message-input" type="text" size="100" class="form-control"/><br/>
                    <input id="chat-message-submit" type="button" value="Send" class="form-control"/>
                </div>
            </div>
        </div>
    </div>
    <script>
    //window.YourUserID = prompt("Enter YourUserID:");
    //window.room = prompt("Enter Room:");
    </script>
    <!-- <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script> -->
    <!-- <script src="http://192.168.1.23:3000/socket.io/socket.io.js"></script> -->
    <!-- <script src="{% static 'js/client.js' %}"></script> -->
    <script type="text/javascript" src="{% static 'js/jquery-3.2.1.slim.min.js' %}"></script>
    <!-- <script type="text/javascript" src="js/jquery-3.1.0.min.js"></script> -->
    <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript">
    function tvideo() {
        toggleVideo();
    }

    function taudio() {
        toggleAudio();
    }
    </script>
    <script>
    // console.log("xxxxxxxxxxxxxxxxxxxxxxxxxxxxx : ", YourUserID);
    // var socket = io('http://192.168.1.23:3000');
    // socket.emit('login', { userId: YourUserID, room: room });
    </script>


    <!-- DJANGO CHANNEL CHAT -->
    <script>
        // document.querySelector('#room-name-input').focus();
        // document.querySelector('#room-name-input').onkeyup = function(e) {
        //     if (e.keyCode === 13) {  // enter, return
        //         document.querySelector('#room-name-submit').click();
        //     }
        // };

        // document.querySelector('#room-name-submit').onclick = function(e) {
            // var roomName = document.querySelector('#room-name-input').value;
            var roomName = '{{room_number}}';
            // window.location.pathname = roomName + '/';
            // $("#room-name-input").hide();
            // $("#room-name-submit").hide();
            // $("#chatBox").show();
            
            var chatSocket = new WebSocket(
                'ws://' + window.location.host +
                '/ws/chat/' + roomName + '/');

            
            chatSocket.onmessage = function(e) {
                var data = JSON.parse(e.data);
                var message = data['message'];
                var user = data['user'];
                document.querySelector('#chat-log').value += (
                    user + ' : '+message+ '\n'
                    );
            };

            chatSocket.onclose = function(e) {
                console.error('Chat socket closed unexpectedly');
            };

            document.querySelector('#chat-message-input').focus();
            document.querySelector('#chat-message-input').onkeyup = function(e) {
                if (e.keyCode === 13) {  // enter, return
                    document.querySelector('#chat-message-submit').click();
                }
            };

            document.querySelector('#chat-message-submit').onclick = function(e) {
                var messageInputDom = document.querySelector('#chat-message-input');
                var message = messageInputDom.value;
                chatSocket.send(JSON.stringify({
                    'message': message,
                    'user' : '{{request.user}}'
                }));

                messageInputDom.value = '';
            };
        // };
    </script>
</body>

<!-- <div  class="form-group" style="text-align: left;">
    <span class="fa fa-lg fa-user pb-chat-fa-user pull-left"></span><span class="pull-left label label-default pb-chat-labels pb-chat-labels-left">Hi, how are you?</span>
</div>

<div align="right" class="form-group"><span class="fa fa-lg fa-user pb-chat-fa-user pull-right"></span><span class="label label-primary pb-chat-labels pb-chat-labels-primary pull-right ">Hi, i'm fine, you?</span</div><div class="clearfix"></div>
 
<div  class="form-group" style="text-align: left;">
    <span class="fa fa-lg fa-user pb-chat-fa-user pull-left"></span><span class="pull-left label label-default pb-chat-labels pb-chat-labels-left">Hi, how are you?</span>
</div>

<div align="right" class="form-group">
    <span class="fa fa-lg fa-user pb-chat-fa-user pull-right"></span>
    <span class="label label-primary pb-chat-labels pb-chat-labels-primary pull-right ">Hi, i'm fine, you?</span>
</div>
<div class="clearfix"></div> -->