<!DOCTYPE html>
{% load static %}
<head>
    <title>WebRTC Audio Demo</title>
    <style>
    video 
    {
        width: 320px;
        height: 240px;
    }

    body {
        text-align: center;
    }

    #mute {
        width: auto;
        background: lightgreen;
    }

    .v-b {
        margin-bottom: 10px !important;
        background: none !important;
        color: #5cb85c !important;
        border: 0px !important;
        padding-top: 0px !important;
    }

    </style>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous"> -->
    
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome-all.css' %}" /> -->
    <link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/font-awesome.min.css' %}"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/animate.css' %}">
    <!-- <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"> -->
</head>
<body>    
    <img src="{% static 'img/user1.png' %}" width="5%" class="rounded-circle"><br>{{request.user}}<br>    
    <h1 class="text-center ">Convvers Chat Demo</h1>
    <!-- <audio id="ringtone">
        <source src="{% static 'ringtone.mp3' %}" type="audio/mpeg">
    </audio> -->
    
    <div id="selectRoom" class="col-12 text-center">
        <!-- <button class="" id="goBoth">Video and Audio</button> -->
        <!-- <button id="goVideoOnly">Video only</button> -->
        <!-- <button id="goAudioOnly">Audio only</button> -->
    </div>
    <!-- <div id="stopCall" style="cursor: grab; display: none;">
        <button onclick="stopCall()">stop</button>
    </div> -->
    <!-- <span id="callAlert" style="color: #00cc99;padding: 20px;display: none;"></span> -->

    <div class="container">
        <!-- <div class="row">            
            <div align="left" id="div_events" class="col-12 col-md-2 border border-primary p-3 px-2">
            </div>

            <div class="col-12 col-md-8 text-center">
                <div id="conferenceRoom" style="" class="col-12">                    
                    <video id="localVideo" autoplay class="border border-warning" muted="muted"></video>
                    <video id="remoteVideo" autoplay class="border border-info"></video>
                    <br/>
                    <input type="checkbox" onclick="mute()">mute video</input>
                    <span id="mute" style="display:none">Toggle Audio</span>
                    <h2>Remote audio events</h2>
                    <div id="audioEvents"></div>
                    <button onclick="tvideo()">Toggle Video</button>
                    <button onclick="taudio()">Toggle Audio</button>
                </div>
            </div>
            <div id="" class="col-12 col-md-2 border border-primary p-3 px-2">
            </div>
        </div> -->

        <div class="row" style="margin-top: 20px;margin-bottom:30px;">

            <div id="" class="col-12 col-md-2"></div>
            <div id="" class="col-12 col-md-8" style="">
                <div class="panel panel-info pb-chat-panel">
                    <div class="panel panel-heading pb-chat-panel-heading">
                        <div class="row">
                            <div class="col-xs-12">
                                <a href="#">
                                    <label id="support_label">Chat</label>
                                </a>
                                <!-- <a href="#"><span class="fa fa-cog pull-right pb-chat-top-icons"></span></a>
                                <a href="#"><span class="fa fa-share pull-right pb-chat-top-icons"></span></a> -->
                            </div>
                        </div>
                    </div>
                    
                    <div class="panel-body" id="chatContainer" style="overflow: auto; max-height: 200px;">
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-xs-10">
                                <textarea class="form-control pb-chat-textarea" placeholder="Type your message here..." id="chat-message-input"></textarea>
                            </div>
                            <div class="col-xs-2 pb-btn-circle-div">
                                <button class="btn btn-primary btn-circle pb-chat-btn-circle" id="chat-message-submit"><span class="fa fa-paper-plane"></span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="" class="col-12 col-md-2"></div>
        </div>
    </div>
    <script>
    window.YourUserID = '{{request.user}}'
    //window.YourUserID = prompt("Enter YourUserID:");
    //window.room = prompt("Enter Room:");
    </script>
    <script type="text/javascript" src="{% static 'js/jquery-3.2.1.slim.min.js' %}"></script>
    <!-- <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script> -->
    <!-- <script src="http://69.164.196.222:3000/socket.io/socket.io.js"></script> -->
    <!-- <script src="http://192.168.1.21:3000/socket.io/socket.io.js"></script> -->
    <!-- <script src="{% static 'js/client.js' %}"></script>     -->
    <!-- <script type="text/javascript" src="js/jquery-3.1.0.min.js"></script> -->
    <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/autosize.min.js' %}"></script>
    <!-- <script type="text/javascript" src="{% static 'js/call.js' %}"></script> -->
    <!-- <script type="text/javascript" src="{% static 'js/notify.js' %}"></script> -->

<script>
    var count = 0;
    function raisenotify(title, message, type, delay) {
        delay = delay || 500;
        if (type = "ERROR") {
            type = 'danger';
        }
        if (count > 0) {
            mul = 100 + 200 * count;
            delay = delay + mul;
        }
        window.setTimeout(function() {
            $.notify({
                icon: 'https://randomuser.me/api/portraits/med/men/77.jpg',
                title: title,
                message: message,
            }, {
                animate: {
                    enter: 'animated tada infinite',
                    exit: 'animated fadeOutRight'
                },
                type: type,
                delay: 0
            });
        }, delay);
        count++;
        console.log(count);
    }
</script>

<script type="text/javascript">
    // function listtoli(userlist, webcam) {
    //     var callee = '';
    //     // var ul = document.getElementById("ul_id");
    //     $("#div_events").html("");
    //     // ul.innerHTML ="";
    //     for (var temp in userlist) {
    //         // var li = document.createElement("li");
    //         // li.appendChild(document.createTextNode(userlist[temp].userId));
    //         // ul.appendChild(li);
    //         console.log("user list");
    //         var html = '<div class="col-12  px-0 d-flex justify-content-between align-items-center my-1">';
    //         html += '<span id="user_name" class="d-inlineblock">' + userlist[temp].userId + '</span>';
    //         if (YourUserID != userlist[temp].userId) {
    //             html += '&nbsp<button id="call-btn-video" title="video-call" class="pull-right v-b" onclick="return create_room_video(\'' + userlist[temp].userId + '\');"><i class="fa fa-video-camera" style="color:#0099ff"></i></button>';
    //             html +='&nbsp<button id="call-btn-audio" title="audio-call" class=" pull-right v-b" onclick="return create_room_audio(\'' + userlist[temp].userId + '\');"><i class="fa fa-phone" style="color:#0099ff"></i></button>';
    //         }
    //         html += '</div><div class="clearfix"></div>';
    //         $("#div_events").append(html);
    //         checkwebcam();
    //     }
    // }
</script>
<script type="text/javascript">
    // function checkwebcam(){
    //     if(window.webcam == false){
    //         $('#call-btn-video').hide();
    //     }
    // }
    // function tvideo() {
    //     toggleVideo();
    // }

    // function taudio() {
    //     toggleAudio();
    // }
    
    // function accept_call(roomNumber, video) {
    //     pauseRingTones()
    //     $("#stopCall").show();
    //     $("#notify-div").removeClass("infinite");
    //     $('#call-btn-audio').prop("disabled", true);
    //     $('#call-btn-video').prop("disabled", true);
    //     if(!webcam){
    //         video = false;
    //     }
    //     var roomNumber = roomNumber;
    //     console.log("accept_call-video : ", video )
    //     initiateCall(video, true, roomNumber);
    // }

    // function alert_call(temp) {
    //     $("#callAlert").hide();
    //     playRingTones()
    //     roomNumber = temp.room;
    //     video = temp.video;
    //     console.log(temp);
    //     var message_options = '<button data-notify="dismiss" onclick="accept_call(roomNumber,video);">Answer</button><button>Hangup</button>'
    //     raisenotify(temp.message, message_options, 'info', 2500);
    // }

    // function create_room_video(callee) {
    //     isCaller = true;
    //     console.log("start video call");        
    //     $("#callAlert").text("You are calling "+callee+"");
    //     $("#callAlert").show();
    //     $("#stopCall").show();
    //     $('#call-btn-audio').prop("disabled", true);
    //     $('#call-btn-video').prop("disabled", true);
    //     var date = new Date();
    //     var timestamp = date.toString().replace(/ /g,'').replace(/:/g,'');
    //     var roomNumber = '{{room_number}}'; // +timestamp+'' YourUserID + "_" + callee;
    //     initiateCall(true, true, roomNumber);
    //     node_room(roomNumber, YourUserID, callee, true);
    // }

    // function create_room_audio(callee) {
    //     isCaller = true;
    //     console.log("start audio call");
    //     $("#callAlert").text("You are calling "+callee+"");
    //     $("#callAlert").show();
    //     $("#stopCall").show();
    //     $('#call-btn-audio').prop("disabled", true);
    //     $('#call-btn-video').prop("disabled", true);
    //     var date = new Date();
    //     var timestamp = date.toString().replace(/ /g,'').replace(/:/g,'');
    //     var roomNumber = '{{room_number}}'; // +timestamp+'' YourUserID + "_" + callee;
    //     initiateCall(false, true, roomNumber);
    //     node_room(roomNumber, YourUserID, callee, false);
    // }
    // socket.emit('login', { userId: YourUserID, room: roomNumber });
    
    // // Check webcam availability
    // navigator.getMedia = ( navigator.getUserMedia ||
    //         navigator.webkitGetUserMedia ||
    //         navigator.mozGetUserMedia ||
    //         navigator.msGetUserMedia);
    // navigator.getMedia({video: true}, function() {
    //   window.webcam = true;
    // }, function() {
    //   window.webcam = false;
    // });
    
    // function playRingTones() {
    //     var audio_ring = document.getElementById("ringtone");         
    //     audio_ring.play(); 
    // }
    // function pauseRingTones() {
    //     var audio_ring = document.getElementById("ringtone"); 
    //     audio_ring.pause(); 
    // }
</script>

<!-- DJANGO CHANNEL CHAT -->
<script>
    var roomName = '{{room_number}}';            
    var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/chat/' + roomName + '/');
    
    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        console.log("DATA : ", data);
        var message = data['text'];
        var user = data['user']['email'];
        if(user === '{{request.user}}'){
            $("#chatContainer").append("<div  class='form-group' style='text-align: left;'><span class='fa fa-lg fa-user pb-chat-fa-user pull-left'></span><span class='pull-left label label-default pb-chat-labels pb-chat-labels-left'>"+message+"</span></div> <div class='clearfix'></div>");
        }else{
            $("#chatContainer").append("<div align='right' class='form-group'><span class='fa fa-lg fa-user pb-chat-fa-user pull-right'></span><span class='label label-primary pb-chat-labels pb-chat-labels-primary pull-right'>"+message+"</span</div><div class='clearfix'></div>");
        }
        $('#chatContainer').scrollTop($('#chatContainer')[0].scrollHeight);
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'text' : message,
            'date' : '',            
            'user' : { 'email' : '{{request.user}}' }
        }));        
        messageInputDom.value = '';
    };
</script>
</body>
</html>