body {
    font-family: sans-serif;
}



/* main */
.chat-bg{
  background: #f0f0f0;
  padding: 10px;
}
.chat-textarea{
  color: black;

border: 1px solid #e5e5e5;

border-top-left-radius: 20px;

border-bottom-right-radius: 20px;

resize: none;
}

.send {
    width: 8%;
    height: 50px;
    border: none;
    outline: none;
    z-index: 100;
    cursor: pointer;
    background-image: url(https://i.imgur.com/VSQxJKL.png);
    background-repeat: no-repeat;
    background-size: 34px 34px;
    background-position: 45% 9px;
    background-color: rgba(255,255,255,0);
}