/*font*/
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

body {font-family: 'Roboto', sans-serif;}

.logo {
    margin-top: 10px;
}


.index-middle {padding-top: 4em;}

.index-middle h2 {margin-bottom: 1em;font-weight: bold;margin-top: 1em;}

.index-form-wrap h2 { color: #e95343; }


.index-form-wrap .form-control {
    display: block;
    width: 100%;
    padding: .8rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #f5f8fa;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.btn-go {
    border-radius: 100%;
    background: #e95343;
    margin-bottom: 20px;
    }

.mt20 { margin-top: 20px; }   

footer {
    position: absolute;
    bottom: 0px;
width: 100%;} 
footer ul {
    margin-bottom: 5px;
    padding: 0px;
}

footer li {display: inline-block;padding: 5px;}
footer li a {color: #8899a6 !important;}
footer p {color: #8899a6;margin-bottom: 0px;}

 .contact-head {margin-top: 20px;margin-bottom: 2em;}

 .contact-box {
    margin: 0px;
    position: relative;
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 6px;
    box-shadow: 0px 0px 6px 0px #bbb9b9;
}

.contact-box h4 {
   margin-top: 10px;
   font-weight: 600;
}

.contact-box h3 {
    color: #66757f;
    font-weight: 300;
    margin-top: 15px;
    }

.call-img {
    width: 48px;
    position: absolute;
    right: 13px;
    top: 24px;
    }

.call-info {
  background: #f5f8fa;
  padding-top: 2em;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  min-height: 570px;
  vertical-align: middle;
  }

.call-info h4 { margin-top: 1.5em }
.call-info h3 {color: #66757f;margin-bottom: 1.5em;font-weight: 300;}

.mb3em {    margin-bottom: 3em;}

.p0 { padding: 0px; }

.p-relative{
    position: relative;
}

.wrap-ww { padding-right: 4em; word-wrap: break-word; }

.call-wrap { min-height: 100vh; }

@media (max-width: 767.98px) { 


footer { position: inherit; }

footer ul {
    padding: 0px;
}


.index-middle h2 {font-size: 24px;}

 }



/*--------------CHAT STYLE--------------*/

.pb-chat-labels-left:before {
    width: 0px;
    height: 0px;
    border-top: 6px solid transparent;
    border-bottom: 7px solid transparent;
    border-right: 7px solid #62bf6f;
    position: absolute;
    content: '';
    left: -6px;
    top: 6px;
}

.pb-chat-labels-primary:after{
    width: 0px;
    height: 0px;
    border-top: 5px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 6px solid white;
    position: absolute;
    content: '';
    right: -6px;
    top: 5px;
}
.pb-chat-panel {
    border: none;
    margin-bottom: -5px;
    background: #ececec;
}

.pb-chat-panel-heading {
    margin-top: -5px;
}

.pb-chat-top-icons {
    margin-top: 4px;
}

#support_label {
    color: #999;  
}

.pb-chat-labels {
    font-size: 15px;
}

.pb-chat-labels-right {
    margin-bottom: 0;
    margin-right: 5px;
}


.pb-chat-labels-left {
    margin-left: 5px;
    margin-left: 5px;
    background: #62bf6f;
    font-weight: 300;
    padding: 10px;
    width: 88%;
    white-space: normal;
    text-align: left;
    margin-bottom: 10px;
    position: relative;
}

.pb-chat-labels-primary {
    margin-right: 5px;
    margin-right: 5px;
    width: 88%;
    word-wrap: break-word;
    white-space: normal;
    text-align: left;
    padding: 10px;
    background: #fff;
    color: #4b4b4b;
    font-weight: 300;
    position: relative;
    margin-bottom: 10px;
}

.pb-chat-fa-user {
    border: 1px solid #c8c8c8;
    padding: 10px;
    border-radius: 50%;
    font-size: 12px;
    background: #e3e3e3;
    color: #5c5a5a;
}

.pb-chat-textarea {
    resize: none;
}

.pb-chat-dropdown {
    width: 300px;
}

.pb-chat-btn-circle {
    border-radius: 37px;
    font-size: 20px;
    padding: 6px 10px;
    box-shadow: -1px 0px 2px 0px #838383;
}

.pb-btn-circle-div {
    padding-left: 0px;
    margin-top: 5px;
}

/*--------------END---------------------*/