/*font*/
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

body {font-family: 'Roboto', sans-serif;}

.logo {
    margin-top: 10px;
}


.index-middle {padding-top: 4em;}

.index-middle h2 {margin-bottom: 1em;font-weight: bold;margin-top: 1em;}

.index-form-wrap h2 { color: #e95343; }


.index-form-wrap .form-control {
    display: block;
    width: 100%;
    padding: .8rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #f5f8fa;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.btn-go {
    border-radius: 100%;
    background: #e95343;
    margin-bottom: 20px;
    }

.mt20 { margin-top: 20px; }   

footer {
    position: absolute;
    bottom: 0px;
width: 100%;} 
footer ul {
    margin-bottom: 5px;
    padding: 0px;
}

footer li {display: inline-block;padding: 5px;}
footer li a {color: #8899a6 !important;}
footer p {color: #8899a6;margin-bottom: 0px;}

 .contact-head {margin-top: 20px;margin-bottom: 2em;}

 .contact-box {
    margin: 0px;
    position: relative;
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 6px;
    box-shadow: 0px 0px 6px 0px #bbb9b9;
}

.contact-box h4 {
   margin-top: 10px;
   font-weight: 600;
}

.contact-box h3 {
    color: #66757f;
    font-weight: 300;
    margin-top: 15px;
    }

.call-img {
    width: 48px;
    position: absolute;
    right: 13px;
    top: 24px;
    }

.call-info {
  background: #f5f8fa;
  padding-top: 2em;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  min-height: 570px;
  vertical-align: middle;
  }

.call-info h4 { margin-top: 1.5em }
.call-info h3 {color: #66757f;margin-bottom: 1.5em;font-weight: 300;}

.mb3em {    margin-bottom: 3em;}


@media (max-width: 767.98px) { 


footer { position: inherit; }

footer ul {
    padding: 0px;
}


.index-middle h2 {font-size: 24px;}

 }

